<md-sidenav-layout>
  <md-sidenav mode="side" #start (open)="closeStartButton.focus()">
    <div>Start Sidenav.</div>
      <nav>
        <div><a routerLink="/dashboard">DashBoard</a></div>
        <div><a routerLink="/memos">Memos</a></div>
        <div><a routerLink="/detail/11">/detail/11</a></div>
      </nav>
    <button md-button #closeStartButton (click)="start.close()">Close</button>
  </md-sidenav>

  <md-toolbar color="primary">
    <i (click)="start.toggle()" class="material-icons app-toolbar-menu">menu</i> NDRM-RC!

  </md-toolbar>
  <div class="app-content">
    <nav>
      <a routerLink="/memos">Memos</a>
      <a routerLink="/detail/11">/detail/11</a>
    </nav>
    <router-outlet></router-outlet>

  </div>
</md-sidenav-layout>
